# **Previsão de vendas usando o Keras.**

Esse é um pequeno guia de como criar uma rede neural simples usando o Keras. NÃO irei focar na análise dos dados, apenas no pré-processamento e criação do modelo.

In [0]:
import pandas as pd 

from keras.models import Model
from keras.layers import Input, Dense, Activation

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

Using TensorFlow backend.

### **Carregamento e pré-processamento dos dados**

In [0]:
games = pd.read_csv('/content/Video_Games_Sales_as_at_22_Dec_2016.csv')
games.head()

                       Name Platform  ...  Developer Rating
0                Wii Sports      Wii  ...   Nintendo      E
1         Super Mario Bros.      NES  ...        NaN    NaN
2            Mario Kart Wii      Wii  ...   Nintendo      E
3         Wii Sports Resort      Wii  ...   Nintendo      E
4  Pokemon Red/Pokemon Blue       GB  ...        NaN    NaN

[5 rows x 16 columns]

Aqui irei remover as colunas desnecessárias, no caso **Name**, **Year_of_Release**, **Other_Sales**,  **Global_Sales**(porque só preciso das vendas por continente) e **Developer**.

In [0]:
games = games.drop(['Name', 'Year_of_Release', 'Other_Sales', 'Global_Sales', 'Developer'], 1)
games.head()

  Platform         Genre Publisher  ...  User_Score  User_Count  Rating
0      Wii        Sports  Nintendo  ...           8       322.0       E
1      NES      Platform  Nintendo  ...         NaN         NaN     NaN
2      Wii        Racing  Nintendo  ...         8.3       709.0       E
3      Wii        Sports  Nintendo  ...           8       192.0       E
4       GB  Role-Playing  Nintendo  ...         NaN         NaN     NaN

[5 rows x 11 columns]

In [0]:
# Removendo alguns outliers. Não irei remover do Japão pois seus dados já são bem escassos.
games = games.loc[games['NA_Sales'] > 1]
games = games.loc[games['EU_Sales'] > 1]
games.shape

(355, 11)

In [0]:
# Removendo valores nulos
games = games.dropna(axis=0)
games.shape

(258, 11)

##### Separar as *features* e o target.

In [0]:
# As variáveis preditoras são 'Platform', 'Genre', 'Publisher','Critic_Score', 'Critic_Count', 'User_Score', 
# 'User_Count', 'Rating'
X = games.iloc[:, [0, 1, 2, 6, 7, 8, 9, 10]].values

# E as variáveis alvo são 3, uma para cada continente
y_na = games['NA_Sales'].values
y_eu = games['EU_Sales'].values
y_jp = games['JP_Sales'].values

#### *Encode* das *features*.

In [0]:
ohencoder = ColumnTransformer(transformers=[('OneHot', OneHotEncoder(),
                                            [0, 1, 2, 7])], remainder='passthrough')
X = ohencoder.fit_transform(X).toarray()

## **Pré-processamento concluído. Agora, devemos construir a rede neural.**

In [0]:
# Criando a camada de entrada
# 60 é o número de colunas de X
my_input = Input(shape=(60, ))

In [0]:
# Criando a primeira camada oculta
# (camada de entrada + números de saídas) / 2 = (60 + 3) / 2 = 32 aproximadamente
# É necessário dizer com quem a camada oculta se conecta, que nesse caso é com a camada de entrada
my_hidden_layer_1 = Dense(units=32, activation='sigmoid')(my_input)

In [0]:
# Criando a segunda camada oculta
my_hidden_layer_2 = Dense(units=32, activation='sigmoid')(my_hidden_layer_1)

In [0]:
# Criando as camadas de saida, uma para cada continente
# A função de ativação "linear" mantém os valores de saída.
my_output_layer_1 = Dense(units=1, activation='linear')(my_hidden_layer_2)
my_output_layer_2 = Dense(units=1, activation='linear')(my_hidden_layer_2)
my_output_layer_3 = Dense(units=1, activation='linear')(my_hidden_layer_2)

In [0]:
# Criando os modelo com as camadas de entrada e saída.
my_model = Model(inputs=my_input,
                outputs=[my_output_layer_1, my_output_layer_2, my_output_layer_3])

In [0]:
# Compilando o modelo criado
my_model.compile(optimizer='adam', loss='mse')

### **Treinamento do modelo** (processo um pouco demorado, dependendo da capacidade computacional da máquina).

In [0]:
my_model.fit(X, [y_na, y_eu, y_jp], epochs=7000, batch_size=100)